In [1]:
import numpy as np

In [2]:
a= np.arange (1,11)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [3]:
import pandas as pd

In [23]:
a=pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])
a

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [24]:
a['c']

3

In [25]:
a['f']

6

In [26]:
a['a']

1

In [29]:
a['c']=100

In [30]:
a['c']

100

In [31]:
a['b':'d']

b      2
c    100
d      4
dtype: int64

In [18]:
b= pd.Series (np.arange(1,101,2))
b

0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
15    31
16    33
17    35
18    37
19    39
20    41
21    43
22    45
23    47
24    49
25    51
26    53
27    55
28    57
29    59
30    61
31    63
32    65
33    67
34    69
35    71
36    73
37    75
38    77
39    79
40    81
41    83
42    85
43    87
44    89
45    91
46    93
47    95
48    97
49    99
dtype: int32

In [19]:
b[0:10]

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int32

In [32]:
c=pd.Series([100,256,354,498,513,69], index=['a','b','c','d','e','f'])
c

a    100
b    256
c    354
d    498
e    513
f     69
dtype: int64

In [33]:
a.iloc[0]

1

In [34]:
a.iloc[5]

6

In [35]:
a[1::3]

b    2
e    5
dtype: int64

In [36]:
d=pd.Series([78,67,39,89,50,91], index=['ali','bilal','chaudary','daniyal','emran','fatima'])
d

ali         78
bilal       67
chaudary    39
daniyal     89
emran       50
fatima      91
dtype: int64

In [39]:
d['bilal']

67

In [40]:
d['fatima']

91

In [41]:
d['bilal']=99

In [42]:
d['bilal']

99

In [43]:
d.values

array([78, 99, 39, 89, 50, 91], dtype=int64)

In [45]:
d[d>70].index

Index(['ali', 'bilal', 'daniyal', 'fatima'], dtype='object')

In [46]:
d*2

ali         156
bilal       198
chaudary     78
daniyal     178
emran       100
fatima      182
dtype: int64

In [47]:
90 in d

False

In [48]:
198 in d

False

In [50]:
'bilal' in d

True

In [51]:
d['fatima']

91

In [52]:
d[d>85].index

Index(['bilal', 'daniyal', 'fatima'], dtype='object')

In [57]:
d[d>=70][d>60].index

Index(['ali', 'bilal', 'daniyal', 'fatima'], dtype='object')

In [59]:
addition =c + d
addition

a          NaN
ali        NaN
b          NaN
bilal      NaN
c          NaN
chaudary   NaN
d          NaN
daniyal    NaN
e          NaN
emran      NaN
f          NaN
fatima     NaN
dtype: float64

In [60]:
addition. fillna(0)

a           0.0
ali         0.0
b           0.0
bilal       0.0
c           0.0
chaudary    0.0
d           0.0
daniyal     0.0
e           0.0
emran       0.0
f           0.0
fatima      0.0
dtype: float64

In [62]:
students = pd.DataFrame({
    'name' : ['A','B','C','D'],
    'age' : [19,22,28,23],
    'marks' : [67,59,90,87]}, index = ['s1','s2','s3','s4'])

In [63]:
students

   name  age  marks
s1    A   19     67
s2    B   22     59
s3    C   28     90
s4    D   23     87

In [65]:
import random 
import pandas as pd

In [70]:
population = pd.DataFrame({
    'name' : ['A','B','C','D'],
    'age' : [random.randint(18,80),random.randint(18,80),random.randint(18,80),random.randint(18,80)],
    'Gender' : ['male','female','male','male']}, index = ['s1','s2','s3','s4'])
population

   name  age  Gender
s1    A   72    male
s2    B   64  female
s3    C   73    male
s4    D   58    male